#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vis-configuration-wrapper{
}

#mynetwork {
    width: 100%;
    height:850px;
    position: static;
    vertical-align:top;
    top:20px;
}
table,td,th{
    min-width:200px;
    table-layout:fixed;
    overflow-x:scroll;
    overflow-y:scroll;
    border: 1px solid grey;
}
#SHORTHANDS, #LEFT{width:20%;
            white-space:nowrap;
            overflow:hidden;
            font-family: 'Courier New', monospace;
            font-weight: bold;
            font-size:10px; }

#console{height:200px;
         resize:both;
         font-size:10px;
         overflow-y:scroll;
         display: flex;
         flex-direction: column-reverse;}
td{
    //width:200px;
    min-width:200px;
    max-width:200px;
}
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
